<div class="header">
  <p-menubar
    [model]="items"
    class="menu-bar"
    [style]="{ background: 'transparent', border: 'none' }"
  >
    <ng-template pTemplate="item" let-item>
      <a
        pRipple
        [routerLink]="item.url"
        routerLinkActive="nav-link-active"
        class="p-menuitem-link nav-link"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <div>
          <span [class]="item.icon"></span>
          <span> {{ item.label }}</span>
        </div>
      </a>
    </ng-template>
  </p-menubar>
  <p>salut</p>
</div>
