<p-card styleClass="max-w-[900px] mt-[60px] mb-[40px] mx-auto">
  <div class="flex flex-col my-0 mx-auto gap-6 max-w-[400px] items-end">
    <!-- email -->
    <div class="flex w-full justify-around">
      <div class="flex flex-col flex-1 max-w-[400px]">
        <span class="p-float-label w-full">
          <span class="p-float-label w-full">
            <input
              [(ngModel)]="email"
              class="w-full"
              id="username"
              pInputText
              type="text"
            />
            <label for="email">Email address</label>
          </span>
        </span>
      </div>
    </div>
    <div class="flex flex-wrap justify-between w-full items-center">

      <!--TODO: password reset page-->
      <p-button
        (onClick)="onSubmit()"
        class="w-full"
        icon="pi pi-arrow-circle-right"
        label="Send password reset email"
        styleClass="w-full"
      ></p-button>
    </div>
  </div>
</p-card>


@if (isLoading) {
  <app-spinner></app-spinner>
}

<p-toast></p-toast>


