<div class="card max-w-[1500px] mx-auto">
  <p-table
    #dt
    [value]="shifts"
    dataKey="id"
    [rowHover]="true"
    [rows]="10"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 25, 50]"
    [loading]="loading"
    [paginator]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [filterDelay]="0"
    [globalFilterFields]="['workplace.name']"
  >
    <ng-template pTemplate="caption">
      <div class="table-header">
        <button
          type="button"
          pButton
          pRipple
          icon="pi pi-file"
          (click)="dt.exportCSV()"
          class="mr-2"
          pTooltip="CSV"
          tooltipPosition="bottom"
        ></button>
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            (input)="applyFilterGlobal($event, 'contains')"
            placeholder="Search by workplace"
          />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="workplace" style="min-width: 14rem">
          <div class="flex justify-content-between align-items-center">
            <div class="mt-1 flex">
              Workplace <p-sortIcon field="workplace"></p-sortIcon>
            </div>
            <p-columnFilter
              ngClass="ml-2 mt-0.5"
              type="text"
              field="workplace"
              display="menu"
              class="ml-auto"
            ></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="startTime" style="min-width: 14rem">
          <div class="flex justify-content-between align-items-center">
            <div class="mt-1 flex">
              Start time
              <p-sortIcon field="startTime"></p-sortIcon>
            </div>
            <p-columnFilter
              ngClass="ml-2 mt-0.5"
              type="date"
              field="startTime"
              display="menu"
              class="ml-auto"
            ></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="endTime" style="min-width: 14rem">
          <div class="flex justify-content-between align-items-center">
            <div class="mt-1 flex">
              End time
              <p-sortIcon field="endTime"></p-sortIcon>
            </div>
            <p-columnFilter
              ngClass="ml-2 mt-0.5"
              type="date"
              field="endTime"
              display="menu"
              class="ml-auto"
            >
            </p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="hourlyWage" style="min-width: 14rem">
          <div class="flex justify-content-between align-items-center">
            <div class="mt-1 flex">
              Hourly wage
              <p-sortIcon field="hourlyWage"></p-sortIcon>
            </div>
            <p-columnFilter
              ngClass="ml-2 mt-0.5"
              type="numeric"
              field="hourlyWage"
              display="menu"
              currency="USD"
              class="ml-auto"
            ></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="profit" style="min-width: 14rem">
          <div class="flex justify-content-between align-items-center">
            <div class="mt-1 flex">
              Profit
              <p-sortIcon field="profit"></p-sortIcon>
            </div>
            <p-columnFilter
              ngClass="ml-2 mt-0.5"
              type="numeric"
              field="profit"
              display="menu"
              currency="USD"
              class="ml-auto"
            ></p-columnFilter>
          </div>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-shift>
      <tr class="p-selectable-row">
        <td>
          <span class="p-column-title">Workplace</span>
          <div class="flex items-center gap-1">
            <img [src]="shift.workplace.imgUrl" style="width: 20px" />
            <span class="ml-1 vertical-align-middle">{{
              shift.workplace.name
            }}</span>
          </div>
        </td>
        <td>
          <span class="p-column-title">Start time</span>
          {{ shift.startTime | date : "MMM, d, y, hh:mm" }}
        </td>
        <td>
          <span class="p-column-title">End time</span>
          {{ shift.endTime | date : "MMM, d, y, hh:mm" }}
        </td>
        <td>
          <span class="p-column-title">Hourly wage</span>
          {{ shift.hourlyWage | currency : "USD" : "symbol" }}
        </td>
        <td>
          <span class="p-column-title">Profit</span>
          {{ shift.profit | currency : "USD" : "symbol" }}
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="8">No shifts found.</td>
      </tr>
    </ng-template>
  </p-table>
</div>
