<p-steps
  [style]="{ maxWidth: '920px', margin: 'auto' }"
  [model]="items"
  [readonly]="false"
  [activeIndex]="activeIndex"
  (activeIndexChange)="onActiveIndexChange($event)"
></p-steps>

<!-- 1. credentials -->
<p-card
  *ngIf="activeIndex === 0"
  [style]="{
    maxWidth: '920px',
    margin: '60px auto',
  }"
>
  <div class="form-body">
    <div class="form-row">
      <!-- email -->
      <div class="input-container">
        <span class="p-float-label">
          <input pInputText id="email" [(ngModel)]="email" />
          <label for="email">Email address*</label>
        </span>
        <small>Use a valid email address</small>
      </div>
      <!-- username -->
      <div class="input-container">
        <span class="p-float-label">
          <input pInputText id="username" [(ngModel)]="username" />
          <label for="username">Username*</label>
        </span>
        <small>Username must be alphanumeric</small>
      </div>
    </div>
    <div class="form-row">
      <!-- password -->
      <div class="input-container">
        <span [style]="{ width: '100%' }" class="p-float-label">
          <span class="p-float-label">
            <input pInputText id="password" [(ngModel)]="password" />
            <label for="password">Password*</label>
          </span>
        </span>
        <small id="age-help"
          >Password requires 6+ characters, including uppercase, lowercase, a
          number, and a symbol"</small
        >
      </div>
      <!-- confirm password -->
      <div class="input-container">
        <span [style]="{ width: '100%' }" class="p-float-label">
          <span class="p-float-label">
            <input pInputText id="password" [(ngModel)]="confirmPassword" />
            <label for="password">Confirm password*</label>
          </span>
        </span>
        <small id="age-help">Passwords must match</small>
      </div>
    </div>
    <div class="buttons-container">
      <p-button
        [disabled]="activeIndex === 0"
        (click)="handlePrevious()"
        label="Previous"
        icon="pi pi-arrow-left"
        [text]="true"
      ></p-button>
      <p-button
        (click)="handleNext()"
        label="Next"
        icon="pi pi-arrow-right"
        [text]="true"
      ></p-button>
    </div>
  </div>
</p-card>

<!-- 2. personal info -->
<p-card
  *ngIf="activeIndex === 1"
  [style]="{
    maxWidth: '920px',
    margin: '60px auto',
  }"
>
  <div class="form-body">
    <div class="form-row">
      <div class="input-container">
        <span class="p-float-label">
          <input pInputText id="firstName" [(ngModel)]="firstName" />
          <label for="firstName">First name*</label>
        </span>
        <small>First name should be at least 6 characters long</small>
      </div>

      <div class="input-container">
        <span class="p-float-label">
          <input pInputText id="lastName" [(ngModel)]="lastName" />
          <label for="lastName">Last name*</label>
        </span>
        <small>Last name should be at least 6 characters long</small>
      </div>
    </div>

    <!-- age -->
    <div class="form-row">
      <div class="input-container">
        <span [style]="{ width: '100%' }" class="p-float-label">
          <span class="p-float-label">
            <p-calendar
              [(ngModel)]="birthDate"
              inputId="birth_date"
            ></p-calendar>
            <label for="birth_date">Birth Date</label>
          </span>
        </span>
        <small id="age-help">You must be at least 18 years-old</small>
      </div>

      <!-- gender -->
      <div class="input-container">
        <span class="p-float-label">
          <p-dropdown
            [style]="{ width: '100%' }"
            [options]="options"
            [(ngModel)]="gender"
            inputId="float-label"
          ></p-dropdown>
          <label for="float-label">Gender</label>
        </span>
        <small>Enter your username to reset your password.</small>
      </div>
    </div>
    <div class="buttons-container">
      <p-button
        (click)="handlePrevious()"
        label="Previous"
        icon="pi pi-arrow-left"
        [text]="true"
      ></p-button>
      <p-button
        (click)="handleNext()"
        label="Next"
        icon="pi pi-arrow-right"
        [text]="true"
      ></p-button>
    </div>
  </div>
</p-card>

<!-- 3. confirm sign-up data -->
<p-card
  *ngIf="activeIndex === 2"
  [style]="{
    maxWidth: '920px',
    margin: '60px auto',
  }"
>
  <div class="agreement-body">
    <!-- user agreement -->
    <h1>ShiftEase Platform User Agreement</h1>

    <div>
      <p>
        This User Agreement ("Agreement") is a binding legal contract between
        {{ firstName }} {{ lastName }} ("User" or "I") and ShiftEase Platform
        ("ShiftEase").
      </p>
    </div>

    <div>
      <h3>Parties:</h3>
      <p><b>User Information:</b></p>
      <ul>
        <li><b>Name:</b> {{ firstName }} {{ lastName }}</li>
        <li><b>Date of Birth:</b> {{ lastName }}</li>
        <li><b>Gender:</b> {{ gender }}</li>
      </ul>
    </div>

    <div>
      <h3>Purpose and Use:</h3>
      <p>
        I hereby acknowledge that I will use ShiftEase solely for its intended
        purpose as set forth by the platform. I agree to comply with all terms
        and conditions of ShiftEase, including any updates or modifications to
        the platform or this Agreement.
      </p>
    </div>

    <div>
      <h3>Prohibited Actions:</h3>
      <p>
        I commit to refrain from any actions that may harm, disrupt, or alter
        the normal functioning of ShiftEase. This includes, but is not limited
        to, engaging in illegal activities, spreading malware, unauthorized
        access to other user accounts, or any form of network attack.
      </p>
    </div>

    <div>
      <h3>Liability and Damages:</h3>
      <p>
        I understand that any breach of this Agreement may result in immediate
        termination of my access to ShiftEase. In the event of a breach, I agree
        to be liable for any damages caused to ShiftEase or its users, including
        but not limited to compensatory damages, legal fees, and any other
        associated costs.
      </p>
    </div>

    <div>
      <h3>Data Privacy and Security:</h3>
      <p>
        I agree to adhere to ShiftEase's data privacy and protection policies. I
        will not disclose, share, or misuse any personal information obtained
        through ShiftEase.
      </p>
    </div>

    <div>
      <h3>Amendments and Termination:</h3>
      <p>
        ShiftEase reserves the right to modify this Agreement at any time. I
        will be notified of any changes and continued use of the platform will
        constitute acceptance of the new terms.
      </p>
    </div>

    <div>
      <h3>Governing Law:</h3>
      <p>
        This Agreement shall be governed by the laws of the jurisdiction in
        which ShiftEase operates.
      </p>
    </div>

    <div class="confirm-container">
      <p-checkbox
        class="block"
        [disabled]="isLoading"
        [(ngModel)]="checked"
        label=" By registering, I confirm that I
      have read, understood, and agree to the User Agreement."
        [binary]="true"
        inputId="binary"
      ></p-checkbox>
    </div>
    <div class="align-center"></div>
    <div class="buttons-container">
      <p-button
        (click)="handlePrevious()"
        label="Previous"
        icon="pi pi-arrow-left"
        [text]="true"
        [disabled]="isLoading"
      ></p-button>
      <p-button
        class="register-btn"
        icon="pi pi-check"
        [label]="isLoading ? 'Please wait...' : 'Sign up'"
        [loading]="isLoading"
        [text]="true"
        size="large"
      ></p-button>
    </div>
  </div>
</p-card>

<p-toast></p-toast>
<button (click)="show()">salut</button>
