.p-card {
  margin-top: 200px;
}

.input-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 330px;
}

.form-row {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

input {
  min-width: 100%;
}

.p-float-label {
  width: 100%;
}

small {
  margin-top: 4px;
}

.form-body {
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding: 0 3%;
}

.agreement-body {
  @extend .form-body;
  gap: 20px;
  padding-bottom: 10px;
}

.buttons-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

p {
  margin: 0;
}

h3,
ul {
  margin-bottom: 10px;
}

h1 {
  margin-top: 0;
}

.confirm-container {
  margin-top: 40px;
  color: var(--blue-700);
}

.align-center {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.register-btn {
  margin-right: 20px;
}
