<!-- 2. personal info -->
<p-card styleClass="max-w-[900px] my-[60px] mx-auto">
  <div class="flex flex-col my-0 mx-auto gap-10 max-w-[400px] items-end">
    <!-- login option -->
    <div class="flex w-full justify-around">
      <p-selectButton
        [options]="stateOptions"
        [(ngModel)]="loginWay"
        optionLabel="label"
        optionValue="value"
        (onChange)="onSelectChange()"
      ></p-selectButton>
    </div>
    <!-- email -->
    <div class="flex w-full justify-around">
      <div class="flex flex-col flex-1 max-w-[400px]">
        <span class="p-float-label w-full">
          <span class="p-float-label w-full">
            <input class="min-w-full" type="text" pInputText id="username" />
            <label for="email">{{ loginWay }}</label>
          </span>
        </span>
      </div>
    </div>
    <!-- password -->
    <div class="flex w-full justify-around">
      <div class="flex flex-col flex-1 max-w-[400px] w-full">
        <span class="p-float-label w-full">
          <span class="p-float-label w-full">
            <input class="w-full" type="text" pInputText id="password" />
            <label for="email">Password</label>
          </span>
        </span>
      </div>
    </div>
    <p-button label="Sign in" icon="pi pi-arrow-circle-right"></p-button>
  </div>
</p-card>
