<p-card styleClass="max-w-[920px] my-[60px] mx-auto">
  <div class="flex flex-col gap-8 min-[785px]:gap-[60px] min- px-[3%]">
    <div
      class="flex flex-col min-[785px]:flex-row gap-8 w-full items-center justify-between"
    >
      <!-- first name -->
      <div class="flex flex-col flex-1 w-full max-w-[330px]">
        <span class="p-float-label">
          <input
            [(ngModel)]="firstName"
            class="w-full"
            id="firstName"
            pInputText
          />
          <label for="firstName">First name*</label>
        </span>
        <small class="mt-1"
        >First name should be at least 6 characters long</small
        >
      </div>
      <!-- last name -->
      <div class="flex flex-col flex-1 w-full max-w-[330px]">
        <span class="p-float-label">
          <input
            [(ngModel)]="lastName"
            class="w-full"
            id="lastName"
            pInputText
          />
          <label for="lastName">Last name*</label>
        </span>
        <small class="mt-1"
        >Last name should be at least 6 characters long</small
        >
      </div>
    </div>

    <div
      class="flex flex-col min-[785px]:flex-row gap-8 w-full items-center min-[785px]:items-start justify-between"
    >
      <!-- username -->
      <div class="flex flex-col flex-1 w-full max-w-[330px]">
        <span class="p-float-label">
          <input
            [(ngModel)]="username"
            class="w-full"
            id="username"
            name="username"
            pInputText
          />
          <label for="username">Username*</label>
        </span>
        <small class="mt-1"
        >Username must be alphanumeric and at least 6 characters long</small
        >
      </div>
      <!-- birthdate -->
      <div class="flex flex-col flex-1 w-full max-w-[330px]">
        <span class="p-float-label">
          <span class="p-float-label">
            <p-calendar
              [(ngModel)]="birthDate"
              id="birth-date"
              inputId="birth_date"
              styleClass="w-full"
            ></p-calendar>
            <label for="birth-date">Birth Date*</label>
          </span>
        </span>
        <small class="mt-1" id="age-help"
        >You must be at least 18 years-old</small
        >
      </div>
    </div>
  </div>
  <div
    class="flex flex-col gap-8 sm:gap-8 min-[785px]:gap-[40px] px-[3%] mt-8 min-[785px]:mt-[60px]"
  >
    <div
      class="flex flex-col min-[785px]:flex-row gap-8 w-full items-center justify-between"
    >
      <!-- gender -->
      <div class="flex flex-col flex-1 w-full max-w-[330px]">
        <span class="p-float-label">
          <p-dropdown
            [(ngModel)]="gender"
            [options]="genderOptions"
            id="gender"
            inputId="float-label"
            optionLabel="name"
            styleClass="w-full"
          ></p-dropdown>
          <label for="gender">Gender</label>
        </span>
      </div>
      <!-- profile picture -->
      <div
        class="flex justify-between gap-x-3 items-center w-full max-w-[330px]"
      >
        <p-avatar
          image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
          shape="circle"
          size="large"
        ></p-avatar>
        <div class="flex flex-wrap justify-between gap-y-2 gap-x-1 mb-1">
          <p-fileUpload
            (onUpload)="onUpload($event)"
            [maxFileSize]="1000000"
            accept="image/*"
            chooseLabel="Choose"
            mode="basic"
            name="demo[]"
            url="https://www.primefaces.org/cdn/api/upload.php"
          ></p-fileUpload>
          <p-button icon="pi pi-trash" label="Remove"></p-button>
        </div>
      </div>
    </div>
    <div
      class="flex flex-col min-[785px]:flex-row max-[785px]:mx-auto gap-y-2 gap-x-8 items-center justify-between w-full"
    >
      <p-button
        (onClick)="isChangingPasswordModalVisible = true"
        [outlined]="true"
        class="w-full max-w-[330px]"
        label="Change password"
        styleClass="w-full"
      ></p-button>
      <p-button
        (onClick)="isChangingEmailModalVisible = true"
        [outlined]="true"
        class="w-full max-w-[330px]"
        label="Change email address"
        styleClass="w-full"
      ></p-button>
    </div>
    <div
      class="flex flex-col min-[785px]:flex-row gap-8 w-full items-center justify-end"
    >
      <p-button
        (click)="handleSaveProfile()"
        class="max-[785px]:w-full max-w-[330px]"
        icon="pi pi-check"
        iconPos="right"
        label="Save changes"
        severity="success"
        styleClass="w-full"
      ></p-button>
    </div>
  </div>
</p-card>


<p-dialog
  [(visible)]="isChangingPasswordModalVisible"
  [modal]="true"
  header="Change password"
  styleClass="w-[90vw] max-w-[600px]"
>
  <app-change-password-form/>
</p-dialog>


<p-dialog
  [(visible)]="isChangingEmailModalVisible"
  [modal]="true"
  header="Change email"
  styleClass="w-[90vw] max-w-[600px]"
>
  <app-change-email-form/>
</p-dialog>

<p-toast/>
